<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/195c3a23e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="application.css" />
    <title>Bookers</title>
  </head>

  <body>

    <div class="message">
      <%= flash[:notice] %>
    </div>

    <div class="edit-page">

      <h1>Editing Book</h1>

      <% if @book.errors.any? %>
          <%= @book.errors.count %>error prohibited this book from being saved:
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>

      <div class="update-field">

        <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

        <div class="field">
        <p>Title</p>
        <%= f.text_field :title %>
        </div>

        <div class="field">
        <p>Body</p>
        <%= f.text_area :body %>
        </div>

        <div class="field">
        <%= f.submit 'Update Book' %>
        </div>

        <% end %>

        <%= link_to "Show", "/books/#{@book.id}" %><span> | </span><%= link_to "Back", "/books" %>

      </div>

    </div>

  </body>

</html>