<H1>Books</H1>

<table>

<% @books.esch do |book| %>

<tr>
  <th>Title</th>
  <th>Body</th>
</tr>

<tr>
  <td><%= book.title %></td>
  <td><%= book.body %></td>
</tr>

  <%= link_to "Show","books/:id" %><%= link_to "Edit","books/:id/edit" %><%= link_to "Destroy","books/:id",method: :delete,"date-confirm" => "Are you sure?" %>

<% end %>

</table>