<H1>Books</H1>

<% @books.esch do |book| %>

  <p>Title</p>
  <span><%= book.title %></span>

  <p>Body</p>
  <span><%= book.body %></span>

  <%= link_to "Show","books/:id" %><%= link_to "Edit","books/:id/edit" %><%= link_to "Destroy","books/:id",method: :delete,"date-confirm" => "Are you sure?" %>

<% end %>